body {
    font-family: Impact, sans-serif;
    text-align: center;
    padding: 2px;
    color: red;
    background-color: #f0f0f0; /* Fondo gris claro */
}

#map {
    height: 500px;
    width: 50%;
    margin-top: 20px;
}
