body {
    font-family: Arial Narrow, sans-serif;
    text-align: center;
    padding: 2px;
    color: blue;
    background-color: #f0f0f0; /* Fondo gris claro */
}

#map {
    height: 500px;
    width: 100%;
    margin-top: 20px;
}
