body {
    font-family: Arial Narrow, sans-serif;
    text-align: center;
    padding: 2px;
    color: blue;
    background-color: #f0f0f0; /* Fondo gris claro */
}

#map {
    height: 900px;
    width: 100%;
    margin-top: 20px;
}

.titulo-superior {
    color: darkgreen; /* verde oscuro */
    text-align: center;
    font-family: 'impact', serif;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.titulo-inferior {
    color: black; /* verde oscuro */
    text-align: center;
    font-family: 'Arial', serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
