body {
    font-family: Arial Narrow, sans-serif;
    text-align: center;
    padding: 2px;
    color: blue;
    background-color: #f0f0f0; /* Fondo gris claro */
}

#contenedor {
    display: flex;
    width: 100%;
}

#map {
    width: 50%;
    height: 800px;
    margin-top: 20px;
}

#panel {
    width: 50%;
    height: 800px;
    margin-top: 20px;
    padding: 20px;
    overflow-y: auto;
    border-left: 2px solid #ccc;
    background: #f4f4f4;
}

#contenidoPanel img {
    width: 100%;
    height: auto;
}

.titulo-superior {
    color: darkgreen; /* verde oscuro */
    text-align: center;
    font-family: 'impact', serif;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.titulo-inferior {
    color: black; /* verde oscuro */
    text-align: center;
    font-family: 'Arial', serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
